.contact-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    padding: 20px;
    box-shadow: 4px 4px 10px grey;
    background-color: white;
    border-radius: 8px;
    margin: 20px auto;

}

.contact-sub {
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}